NEXT_PUBLIC_SUPABASE_URL=https://hkfeovkzzwdohisgdgki.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_Rm2pOBWx-IEDSUgpPww7tw_Leu5C6U1
NEXT_PUBLIC_WHATSAPP_NUMBER=5562996616445
NEXT_PUBLIC_SITE_URL=https://portfoliosolucoesanny.vercel.app/
